<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" type="image/jpg" href="https://files.jcink.net/uploads2/basgiathrp/basgiath.png" />
  <title>Add User</title>
</head>
<body style="background-image: url('https://files.jcink.net/uploads2/basgiathrp/background/minimalizm_art_gory_6.jpg');">
  <header style="height:100%; padding: 50px">
    <h1><a href="https://basgiathrp-sparring.onrender.com/admin" class="indx">Chains</a></h1>
    <div class="subtitle"><span>Where only the bold survive, and even the brave are broken</span></div>
  </header>
  <h2>Add New User</h2>
  <p><a href="{{ url_for('admin_dashboard') }}">← Back to Dashboard</a></p>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
      {% for category, message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST" class="theme-light" style="text-align: left; background: var(--bg-1); padding: 20px">
    Username: <input type="text" name="username" required  class="forminput"><br><br>

    Member Group:
    <select name="member_group" class="forminput">
      <option>Rider</option>
      <option>Flier</option>
      <option>Citizen</option>
      <option>Infantry</option>
      <option>Healer</option>
      <option>Scribe</option>
      <option>Outlier</option>
    </select><br><br>

    War College Graduate:
    <select name="graduate" class="forminput">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select><br><br>

    Leadership Position:
    <select name="leadership" class="forminput">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select><br><br>

    Pre-War College Education:
    <select name="pre_war_status" class="forminput">
      <option>Trained</option>
      <option>Untrained</option>
    </select><br><br>

    Frontlines Exposure:
    <select name="frontlines" class="forminput">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select><br><br>

    Disability/Injury:
    <select name="disability" class="forminput">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select><br><br>

    Age: <input type="number" name="age" min="10" required class="forminput"><br><br>

    Magic Type:
    <select name="magic_type" class="forminput">
      <option>Mental</option>
      <option>Physical</option>
      <option>Elemental</option>      
      <option>None</option>
    </select><br><br>

    Type of Fighter:
    <select name="fighter_type" class="forminput">
      <option>Offensive</option>
      <option>Defensive</option>
      <option>Balanced</option>
      <option>Non-combatant</option>
    </select><br><br>

    <input type="submit" value="Add User" class="forminput">
  </form>
</body>
</html>
