<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" type="image/jpg" href="https://files.jcink.net/uploads2/basgiathrp/basgiath.png" />
  <meta charset="UTF-8">
  <title>Dice Roller</title>
</head>
<body style="background-image: url('https://files.jcink.net/uploads2/basgiathrp/background/minimalizm_art_gory_6.jpg');">

  <header>
    <a href="index.php"><img src="https://files.jcink.net/uploads2/basgiathrp/dragonblack.png" class="dragon-header" ></a>
    <h1><a href="index.php" class="indx">Chains</a></h1>
    <div class="subtitle"><span>Where only the bold survive, and even the brave are broken</span></div>
  </header>
  <main class="theme-light">
      <h1>🎲 Dice Roller</h1>
    
      <form method="post">
        <label for="username">Your Username:</label><br>
        <input type="text" id="username" name="username" value="{{ username or '' }}" required class="forminput"><br>
    
        <button type="submit" name="roll_type" value="Attack" class="forminput">Attack</button>
        <button type="submit" name="roll_type" value="Defend" class="forminput">Defend</button>
      </form>
    
      {% if result %}
        <div class="result">
          <p><strong>{{ username }}</strong> chose <strong>{{ roll_type }}</strong> and got a <strong>{{ result }}</strong>!</p>
          <p><strong>Random Roll:</strong> {{ random_value*100 }}</p>
        </div>
      {% endif %}
    
    {% if user_odds %}
      <h3>Current Odds for {{ username }}:</h3>
      <strong>Attack Odds:</strong> {{ user_odds["attack"] }}%<br>
      <strong>Defend Odds:</strong> {{ user_odds["defend"] }}%
    {% endif %}
    </main>
</body>
</html>
